# Annuities

## Version with Age Shifts

In [111]:
import pandas as pd
import numpy as np

import pyprotolinc.models.risk_factors as risk_factors

av_types = ("Bestand", "B20", "1. Ordnung")

av_type = av_types[1]
b20base_rates_path = "../../examples/02_annuities_in_payment/tables/Germany_Annuities_DAV2004R/Germany_Annuities_DAV2004R_AVBase.csv"
av_shifts_path = "../../examples/02_annuities_in_payment/tables/Germany_Annuities_DAV2004R/Germany_Annuities_DAV2004R_AV.csv"
selects_path = "../../examples/02_annuities_in_payment/tables/Germany_Annuities_DAV2004R/Germany_Annuities_DAV2004R_Select.csv"

df_base_rates = pd.read_csv(b20base_rates_path, header=[0, 1], index_col=0, skiprows=1)
df_base_rates.head()

        Bestand                 B20           1. Ordnung
Alter    Männer    Frauen    Männer    Frauen     Männer    Frauen
0      0.000092  0.000073  0.000092  0.000073   0.000083  0.000066
1      0.000092  0.000073  0.000092  0.000073   0.000083  0.000066
2      0.000092  0.000073  0.000092  0.000073   0.000083  0.000066
3      0.000092  0.000073  0.000092  0.000073   0.000083  0.000066
4      0.000092  0.000073  0.000092  0.000073   0.000083  0.000066

In [112]:
base_rates = np.zeros((len(male_base_rates), 2))
base_rates[:,  risk_factors.Gender.M] = df_base_rates[(av_type, "Männer")].values
base_rates[:,  risk_factors.Gender.F] = df_base_rates[(av_type,  "Frauen")].values
base_rates

array([[9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [9.20000e-05, 7.30000e-05],
       [1.09000e-04, 7.90000e-05],
       [1.15000e-04, 8.30000e-05],
       [1.27000e-04, 8.80000e-05],
       [1.55000e-04, 1.02000e-04],
       [2.14000e-04, 1.34000e-04],
       [3.07000e-04, 1.61000e-04],
       [4.05000e-04, 1.85000e-04],
       [6.63000e-04, 2.23000e-04],
       [6.65000e-04, 2.23000e-04],
       [6.65000e-04, 2.23000e-04],
       [6.65000e-04, 2.23000e-04],
       [6.65000e-04, 2.23000e-04],
       [6.65000e-04, 2.23000e-04],
       [6.65000e-04, 2.46000e-04],
       [6.65000e-04, 2.50000e-04],
       [6.65000e-04, 2.50000e-04],
       [6.65000e-04, 2.61000e-04],
       [6.65000e-04, 2.87000e-04],
       [6.65000e-04, 3.11000e-04],
       [6.65000e-04, 3.23000e-04],
       [6.72000e-04, 3.35000e-04],
       [6.95000e-04, 3.53000e-04],
       [7.36000e-04, 3.83000e-04],
       [7.92000e-04, 4.27000e-04],
       [8.61000e-04, 4.82000e-04],
       [9.45000e-04, 5.43000e-04],
       [1.04900e-03, 6.08000e-04],
       [1.16400e-03, 6.72000e-04],
       [1.28100e-03, 7.40000e-04],
       [1.40100e-03, 8.17000e-04],
       [1.52400e-03, 8.99000e-04],
       [1.64800e-03, 9.83000e-04],
       [1.78100e-03, 1.06600e-03],
       [1.92400e-03, 1.14800e-03],
       [2.02900e-03, 1.21200e-03],
       [2.14400e-03, 1.28400e-03],
       [2.26800e-03, 1.36100e-03],
       [2.39700e-03, 1.43900e-03],
       [2.52900e-03, 1.51400e-03],
       [2.66400e-03, 1.58200e-03],
       [2.81000e-03, 1.64500e-03],
       [2.96000e-03, 1.70200e-03],
       [3.10800e-03, 1.76100e-03],
       [3.24600e-03, 1.82700e-03],
       [3.37100e-03, 1.90200e-03],
       [3.48700e-03, 1.99000e-03],
       [3.60800e-03, 2.09400e-03],
       [3.74200e-03, 2.20400e-03],
       [3.90600e-03, 2.32600e-03],
       [4.10800e-03, 2.45900e-03],
       [4.37900e-03, 2.60600e-03],
       [4.72000e-03, 2.76600e-03],
       [5.12300e-03, 2.94000e-03],
       [5.56500e-03, 3.11900e-03],
       [6.01400e-03, 3.33500e-03],
       [6.50000e-03, 3.53200e-03],
       [7.10200e-03, 3.82200e-03],
       [7.71700e-03, 4.17200e-03],
       [8.34400e-03, 4.55200e-03],
       [8.99100e-03, 4.95600e-03],
       [9.67400e-03, 5.42500e-03],
       [1.04240e-02, 5.93000e-03],
       [1.12610e-02, 6.45000e-03],
       [1.22100e-02, 7.04200e-03],
       [1.33540e-02, 7.72700e-03],
       [1.46940e-02, 8.48100e-03],
       [1.63000e-02, 9.27400e-03],
       [1.82230e-02, 1.02310e-02],
       [2.05350e-02, 1.14390e-02],
       [2.33290e-02, 1.30020e-02],
       [2.66420e-02, 1.50240e-02],
       [3.05470e-02, 1.75990e-02],
       [3.50690e-02, 2.07540e-02],
       [4.02560e-02, 2.44560e-02],
       [4.61640e-02, 2.87660e-02],
       [5.28010e-02, 3.37970e-02],
       [6.02300e-02, 3.96280e-02],
       [6.84720e-02, 4.62690e-02],
       [7.75290e-02, 5.37010e-02],
       [8.71450e-02, 6.16760e-02],
       [9.70580e-02, 6.98690e-02],
       [1.07098e-01, 7.82100e-02],
       [1.17125e-01, 8.66150e-02],
       [1.26959e-01, 9.49850e-02],
       [1.36406e-01, 1.03179e-01],
       [1.45265e-01, 1.11033e-01],
       [1.53355e-01, 1.18374e-01],
       [1.61069e-01, 1.25055e-01],
       [1.68666e-01, 1.30927e-01],
       [1.73981e-01, 1.43358e-01],
       [1.81392e-01, 1.50295e-01],
       [1.88792e-01, 1.57293e-01],
       [1.96181e-01, 1.64354e-01],
       [2.03556e-01, 1.71479e-01],
       [2.10915e-01, 1.78671e-01],
       [2.18255e-01, 1.85929e-01],
       [2.25570e-01, 1.93253e-01],
       [2.32858e-01, 2.00644e-01],
       [2.40111e-01, 2.08101e-01],
       [2.47326e-01, 2.15622e-01],
       [2.54493e-01, 2.23204e-01],
       [2.61605e-01, 2.30844e-01],
       [2.68653e-01, 2.38536e-01],
       [2.75625e-01, 2.46274e-01],
       [2.82509e-01, 2.54049e-01],
       [2.89291e-01, 2.61850e-01],
       [2.95955e-01, 2.69662e-01],
       [3.02482e-01, 2.77468e-01],
       [3.08852e-01, 2.85248e-01],
       [3.15042e-01, 2.92973e-01],
       [1.00000e+00, 1.00000e+00]])

In [113]:
# read shift vectors
df_shifts = pd.read_csv(av_shifts_path)
df_shifts.head()

,Geburtsjahrgang t,Männer Bestand,Frauen Bestand,Männer B20,Frauen B20,Männer 1. Ordnung,Frauen 1. Ordnung
0,1900,12,10,9,8,NaN,NaN
1,1901,12,10,9,8,NaN,NaN
2,1902,12,10,9,8,NaN,NaN
3,1903,11,10,9,8,NaN,NaN
4,1904,11,9,9,8,NaN,NaN

In [118]:
df_select_factors = pd.read_csv(selects_path, index_col=0, skiprows=1)
df_select_factors

select_matrix = np.zeros((len(df_select_factors), 2))
select_matrix[:, risk_factors.Gender.M] = df_select_factors["Männer"]
select_matrix[:, risk_factors.Gender.F] = df_select_factors["Frauen"]
select_matrix

array([[0.670538, 0.712823],
       [0.876209, 0.79823 ],
       [0.876209, 0.79823 ],
       [0.876209, 0.79823 ],
       [0.876209, 0.79823 ]])

In [54]:
male_shifts = df_shifts["Männer " + av_type]
female_shifts = df_shifts["Frauen " + av_type]
male_shifts, female_shifts

shifts = np.zeros((len(male_shifts), 2))
shifts[:, risk_factors.Gender.M] = male_shifts
shifts[:, risk_factors.Gender.F] = female_shifts
shifts

array([[  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  9.,   8.],
       [  8.,   7.],
       [  7.,   7.],
       [  7.,   6.],
       [  6.,   6.],
       [  5.,   5.],
       [  5.,   5.],
       [  5.,   5.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  4.,   4.],
       [  3.,   3.],
       [  3.,   3.],
       [  3.,   3.],
       [  3.,   3.],
       [  3.,   3.],
       [  3.,   3.],
       [  3.,   3.],
       [  3.,   2.],
       [  3.,   2.],
       [  2.,   2.],
       [  2.,   2.],
       [  2.,   2.],
       [  2.,   2.],
       [  2.,   1.],
       [  2.,   1.],
       [  1.,   1.],
       [  1.,   1.],
       [  1.,   1.],
       [  1.,   1.],
       [  1.,   0.],
       [  0.,   0.],
       [  0.,   0.],
       [  0.,   0.],
       [  0.,   0.],
       [  0.,   0.],
       [ -1.,  -1.],
       [ -1.,  -1.],
       [ -1.,  -1.],
       [ -1.,  -1.],
       [ -2.,  -1.],
       [ -2.,  -2.],
       [ -2.,  -2.],
       [ -2.,  -2.],
       [ -2.,  -2.],
       [ -3.,  -2.],
       [ -3.,  -3.],
       [ -3.,  -3.],
       [ -3.,  -3.],
       [ -4.,  -3.],
       [ -4.,  -3.],
       [ -4.,  -4.],
       [ -4.,  -4.],
       [ -5.,  -4.],
       [ -5.,  -4.],
       [ -5.,  -4.],
       [ -5.,  -5.],
       [ -6.,  -5.],
       [ -6.,  -5.],
       [ -6.,  -5.],
       [ -6.,  -5.],
       [ -6.,  -6.],
       [ -7.,  -6.],
       [ -7.,  -6.],
       [ -7.,  -6.],
       [ -7.,  -6.],
       [ -7.,  -6.],
       [ -7.,  -7.],
       [ -8.,  -7.],
       [ -8.,  -7.],
       [ -8.,  -7.],
       [ -8.,  -7.],
       [ -8.,  -8.],
       [ -9.,  -8.],
       [ -9.,  -8.],
       [ -9.,  -8.],
       [ -9.,  -8.],
       [-10.,  -9.],
       [-10.,  -9.],
       [-10.,  -9.],
       [-10.,  -9.],
       [-11.,  -9.],
       [-11.,  -9.],
       [-11., -10.],
       [-11., -10.],
       [-11., -10.],
       [-11., -10.],
       [-11., -10.],
       [-11., -10.],
       [-11., -10.],
       [-12., -10.],
       [-12., -10.],
       [-12., -10.],
       [-12., -11.],
       [-13., -11.],
       [-13., -11.],
       [-13., -11.],
       [-13., -11.],
       [-13., -11.],
       [-13., -12.],
       [-13., -12.]])

In [44]:
birthyear = np.array([1940, 1949], dtype=np.int16)
gender = np.array([risk_factors.Gender.M, risk_factors.Gender.F], dtype=np.int16)
birthyear, gender

(array([1940, 1949], dtype=int16), array([0, 1], dtype=int16))

In [45]:
applicable_shifts = shifts[birthyear - start_year_shifts, gender]
applicable_shifts

array([2., 1.])

In [35]:
# load from portfolio
portfolio_file = "../../examples/03_mortality/portfolio/portfolio_small.xlsx"

df_portfolio = pd.read_excel(portfolio_file)

df_portfolio["DATE_OF_BIRTH"].dt.year.values.astype(np.int16)

array([1976, 1962], dtype=int16)

## Annuities in Payment

In [28]:
import os
import numpy as np
import pandas as pd

import pyprotolinc
import pyprotolinc.models.risk_factors as risk_factors

In [ ]:
table_path = os.path.abspath(os.path.join(pyprotolinc.__path__[0], "..", "data", "tables"))
table_path

In [36]:
from pyprotolinc.assumptions.providers import StandardRatesProvider

In [87]:

class B20RatesProvider(StandardRatesProvider):
    
    def __init__(self, values, risk_factors, offsets=None, shifts_table=None):
        assert shifts_table is not None, "No shifts table provided for the B20RatesProvider."
        super().__init__(values, risk_factors, offsets)
        self.shifts_table = shifts_table
        self.is_initialized = False
    
    def initialize(self, **kwargs):
        self.years_of_birth = kwargs["years_of_birth"]
        self.gender = kwargs["gender"]
        
        self.applicable_shifts = self.shifts_table[self.years_of_birth - 1900, self.gender].astype(np.int16)
        
        self.is_initialized = True
    
    def get_rates(self, length=None, **kwargs):
        
        assert self.is_initialized, "B20RatesProvider must be initialized before getting rates."
        # adjust the ages, make sure they don't become negative
        kwargs["age"] = np.maximum(kwargs["age"] + self.applicable_shifts, 0)
        
        # adjust the ages
        return super().get_rates(length, **kwargs)
        

class DAV2004R_B20:
    """ Represents the DAV2004R_B20 table family for annuities. The table is a
        base table with age shifts determined by the year of birth.
        Providers can be obtained for:

          - best estimate ("BE", "B20")
          - with safety loadings ("LOADED", "1. Ordnung")
          - inforce ("IF", "Bestand")

    """
    def __init__(self, base_directory):
        
        b20base_rates_path = os.path.join(base_directory, "Germany_Annuities_DAV2004R_AVBase.csv")
        av_shifts_path = os.path.join(base_directory, "Germany_Annuities_DAV2004R_AV.csv")

        self.df_base_rates = pd.read_csv(b20base_rates_path, header=[0, 1], index_col=0, skiprows=1)
        self.df_shifts = pd.read_csv(av_shifts_path)

    def rates_provider(self, estimate_type="BE"):

        if estimate_type == "BE" or estimate_type == "B20":
            av_type =  "B20"
        elif estimate_type == "IF" or estimate_type == "Bestand":
            av_type = "Bestand"
        elif estimate_type == "LOADED" or estimate_type == "1. Ordnung":
            av_type = "1. Ordnung"
        else:
            raise Exception("Unknown estimate type for DAV2004R_B20: {}".format(estimate_type))

        base_rates = np.zeros((len(self.df_base_rates), 2))
        base_rates[:,  risk_factors.Gender.M] = self.df_base_rates[(av_type, "Männer")].values
        base_rates[:,  risk_factors.Gender.F] = self.df_base_rates[(av_type,  "Frauen")].values
        
        # male_shifts = df_shifts["Männer " + av_type]
        # female_shifts = df_shifts["Frauen " + av_type]
        shifts = np.zeros((len(self.df_shifts), 2), dtype=np.int16)
        shifts[:, risk_factors.Gender.M] = self.df_shifts["Männer " + av_type].values
        shifts[:, risk_factors.Gender.F] = self.df_shifts["Frauen " + av_type].values
        
        provider = B20RatesProvider(base_rates,
                                    (risk_factors.Age, risk_factors.Gender),
                                    shifts_table=shifts)
        return provider

In [88]:
b20 = DAV2004R_B20("../../examples/02_annuities_in_payment/tables/Germany_Annuities_DAV2004R")
provider = b20.rates_provider()

provider.initialize(years_of_birth=birthyear, gender=gender)

In [89]:
ages = np.array([40, 50], dtype=np.int16)
provider.get_rates(length=len(ages), age=ages, gender=gender)

{'age': array([40, 50], dtype=int16), 'gender': array([0, 1], dtype=int16)}
{'age': array([42, 51], dtype=int16), 'gender': array([0, 1], dtype=int16)}

array([0.001648, 0.001645])

In [76]:
ages, gender

(array([40, 50], dtype=int16), array([0, 1], dtype=int16))

### Prepare the Select Factors

In [100]:
df_portfolio = pd.read_excel(r"C:\Oracle\PyProtolinc\examples\04_two_state_disability\portfolio\portfolio_med.xlsx")
df_portfolio.head()

,DATE_PORTFOLIO,ID,DATE_OF_BIRTH,DATE_START_OF_COVER,SUM_INSURED,CURRENT_STATUS,SEX,PRODUCT,PRODUCT_PARAMETERS,SMOKERSTATUS,RESERVING_RATE,DATE_OF_DISABLEMENT
0,2021-12-31,1,1976-04-23,2022-01-01,1000,ACTIVE,m,TwoStateDisability,NaN,U,0,2021-02-18
1,2021-12-31,2,1969-03-03,2022-01-01,100,ACTIVE,f,TwoStateDisability,NaN,U,0,NaT
2,2021-12-31,3,1970-09-13,2022-01-01,5000,DIS1,f,TwoStateDisability,NaN,U,0,2022-01-01
3,2021-12-31,1,1976-04-23,2022-01-01,1000,ACTIVE,m,TwoStateDisability,NaN,U,0,NaT
4,2021-12-31,2,1969-03-03,2022-01-01,100,ACTIVE,f,TwoStateDisability,NaN,U,0,NaT

In [105]:
disablement_year = df_portfolio["DATE_OF_DISABLEMENT"].dt.year
disablement_month_proj_start = df_portfolio["DATE_OF_DISABLEMENT"].dt.month
disablement_month_proj_start

0       2.0
1       NaN
2       1.0
3       NaN
4       NaN
       ...
9995    1.0
9996    NaN
9997    NaN
9998    1.0
9999    NaN
Name: DATE_OF_DISABLEMENT, Length: 10000, dtype: float64

In [157]:
disabled_according_to_date = df_portfolio.CURRENT_STATUS.str[:3] == "DIS"
sel1 = df_portfolio.DATE_OF_DISABLEMENT[disabled_according_to_date] > df_portfolio["DATE_PORTFOLIO"][disabled_according_to_date]
assert len(df_portfolio[disabled_according_to_date][sel1]) == 0, "WHEN in state DISABLED the DATE_OF_DISABLEMENT must be less or equal to the DATE_PORTFOLIO"

AssertionError: WHEN in state DISABLED the DATE_OF_DISABLEMENT must be less or equal to the DATE_PORTFOLIO

In [156]:
df_portfolio[disabled_according_to_date]
sel1

2       False
5       False
8       False
11      False
14      False
        ...
9986    False
9989    False
9992    False
9995    False
9998    False
Length: 3333, dtype: bool

In [119]:
from pyprotolinc.portfolio import completed_months_to_date
months_disabled_at_start = completed_months_to_date(df_portfolio["DATE_OF_DISABLEMENT"], df_portfolio["DATE_PORTFOLIO"])
yearsdisabledifdisabledatstart = months_disabled_at_start // 12
yearsdisabledifdisabledatstart

array([ 0., nan, -1., ..., nan, -1., nan])

In [139]:
select_factor = np.ones(len(yearsdisabledifdisabledatstart))

select_factor


tmp = np.logical_or(np.isnan(yearsdisabledifdisabledatstart),
                    np.nan_to_num(yearsdisabledifdisabledatstart, 0) > 5)

tmp = np.logical_or(tmp,
                    np.nan_to_num(yearsdisabledifdisabledatstart, 0) < 0)

relevant_indexes = np.logical_not(tmp)

yearsdisabledifdisabledatstart[relevant_indexes]


select_factor[]

array([0., 0., 0., ..., 0., 0., 0.])

### DAV2004R
We look at this example from Germany. Annuities in payment are modelled using select factors, gender and age. Reasoning for the select effect is the option to select a lump sum payment at the begin of the annuity payment period.

In [ ]:
# read DAV2004R base table
dav_2004r_path = os.path.join(table_path, "Germany_Annuities_DAV2004R", "Germany_Annuities_DAV2004R.csv")

tab_DAV2004R_base = pd.read_csv(dav_2004r_path, header=[0, 2, 3], index_col=0)
tab_DAV2004R_base

In [ ]:
ages = np.sort(tab_DAV2004R_base.index.values.astype(np.int32))
ages

In [ ]:
# transform to tabular form
df_tmp = tab_DAV2004R_base.unstack()
df_tmp.index.names=["TABLE_TYPE", "ESTIMATE_TYPE", "GENDER", "AGE"]
df_tmp = df_tmp.reset_index().rename({0: "QX"}, axis=1)
df_tmp.GENDER = df_tmp.GENDER.map({"Männer": risk_factors.Gender.M, "Frauen": risk_factors.Gender.F})
df_tmp.ESTIMATE_TYPE = df_tmp.ESTIMATE_TYPE.map({'2. Ordnung': "BE", 'Bestand': "?", '1. Ordnung': "LOADED"})
df_tmp.TABLE_TYPE = df_tmp.TABLE_TYPE.map({'Selektionstafel': "SELECT", 'Aggregattafel': "AGGREGATE"})
df_tmp

In [ ]:
df_tmp.TABLE_TYPE.unique(), df_tmp.ESTIMATE_TYPE.unique()

In [ ]:
ages = np.sort(df_tmp.AGE.drop_duplicates())

In [ ]:
def base_table(table_type='AGGREGATE', estimate_type="BE"):
    df = df_tmp[(df_tmp.TABLE_TYPE == table_type) & (df_tmp.ESTIMATE_TYPE == estimate_type)]
    return df.set_index(['GENDER', 'AGE'])[["QX"]].unstack("GENDER").droplevel(0, axis=1)

tab = base_table(table_type='SELECT', estimate_type="BE")
tab

From the documentation we learn that a lookup for this table family requires the following parameters:

  * as *meta parameters*:
  
    * table type: *aggregate* or *select*
    * estimate type: *be* or *loaded*
    * the trend beginning and ending year offsets $T_1$ and $T_2$
  * *gender*
  * *age*
  * calendar year (to calculate the trend)
  * in case the selection table should be used the year of payment (1, 2-5, >5)

### DAV2004R Trends

In [ ]:
# read DAV2004R base table
dav_2004r_trend_path = os.path.join(table_path, "Germany_Annuities_DAV2004R", "Germany_Annuities_DAV2004R_Trends.csv")

tab_DAV2004R_trends = pd.read_csv(dav_2004r_trend_path, header=[0, 2, 3], index_col=0)

# transform to tabular form
df_tmp = tab_DAV2004R_trends.unstack()
df_tmp.index.names=["LONG/SHORT", "ESTIMATE_TYPE", "GENDER", "AGE"]
df_tmp = df_tmp.reset_index().rename({0: "F"}, axis=1)
df_tmp.GENDER = df_tmp.GENDER.map({"Männer": risk_factors.Gender.M, "Frauen": risk_factors.Gender.F})
df_tmp.ESTIMATE_TYPE = df_tmp.ESTIMATE_TYPE.str.strip().map({'2. Ordnung': "BE", 'Bestand': "?", '1. Ordnung': "LOADED"})
df_tmp["LONG/SHORT"] = df_tmp["LONG/SHORT"].map({
    'F_1(x)': "F1",
    'F_1(y)': "F1",
    'F_2(x)': "F2",
    'F_2(y)': "F2",
    'F(x)': "F",
    'F(y)': "F"
})
df_tmp

In [ ]:
# for processing select an estimate type:
df_tmp1 = df_tmp[df_tmp.ESTIMATE_TYPE == "BE"]\
    .set_index(["LONG/SHORT", "ESTIMATE_TYPE", "GENDER", "AGE"])\
    .unstack("GENDER")\
    .droplevel(0, axis=1)\
    .unstack("LONG/SHORT")\
    .droplevel(0, axis=0)

df_tmp1

In [ ]:
# for processing select an estimate type:
df_tmp2 = df_tmp[df_tmp.ESTIMATE_TYPE == "LOADED"]\
    .set_index(["LONG/SHORT", "ESTIMATE_TYPE", "GENDER", "AGE"])\
    .unstack("GENDER")\
    .droplevel(0, axis=1)\
    .unstack("LONG/SHORT")\
    .droplevel(0, axis=0)

df_tmp2

In [ ]:
class MortalityRatesProvider:
    """ Rates provides class is used to return the rates
        given selector array for each risk factor. """
    
    def __init__(self, values, risk_factors, offsets=None):
        """ Data to be provided is an n-dimensional numpy array and an iterable of RiskFactors."""
        self.num_dimensions = len(values.shape)
        self.offsets = offsets
        if offsets is not None:
            assert len(self.offsets) == self.num_dimensions
        else:
            self.offsets = [0] * self.num_dimensions
        assert self.num_dimensions == len(risk_factors), "Number of risk factors and dimension of values must agree!"
        assert self.num_dimensions >= 0 and self.num_dimensions < 4, "Number of dimensions must be between 0 and 3"
        self.values = np.copy(values)
        self.risk_factors = [rf.__name__.lower() for rf in risk_factors]
    
    def get_rates(self, **kwargs):
        """ Rates are returned, the arguments must agree with the risk factors and
            contain numpy arrays that are used to index the values tensor. """
        
        attr = {k.lower(): v for (k,v) in kwargs.items()}
        
        # check for unknown risk factors provided
        unknown_rfs = kwargs.keys() - set(self.risk_factors)
        if unknown_rfs:
            raise Exceptions("Risk factors unknows for this provider: " + str(unknown_rfs))
        
        # order the selectors
        selectors = []
        for rf_name in self.risk_factors:
            selectors.append(attr[rf_name])
            
        if self.num_dimensions == 0:
            return self.values[0]
        elif self.num_dimensions == 1:
            return self.values[selectors[0] - self.offsets[0]]
        elif self.num_dimensions == 2:
            return self.values[selectors[0] - self.offsets[0],
                               selectors[1] - self.offsets[1]]
        elif self.num_dimensions == 3:
            return self.values[selectors[0] - self.offsets[0],
                               selectors[1] - self.offsets[1],
                               selectors[2] - self.offsets[2]]
        
        raise Exception("Method must be implemented in subclass.")
    
    def __repr__(self):
        return "<MortalityRatesProvider with factors ({})>".format(str(self.risk_factors))

    
class DAV2004R:
    """ Represents the DAV2004R table family for annuities. The table is a generation type family
        with risk factors age, gender and (optionally) the select year.
    
        Providers can be obtained for:
        
          - best estimate ("BE", "2. Ordnung")
          - with safety loadings ("LOADED", "1. Ordnung")
    
    """
    def __init__(self, base_directory, trend_t1=10, trend_t2=25):
        self.base_rates_path = os.path.abspath(os.path.join(base_directory, "Germany_Annuities_DAV2004R.csv"))
        self.select_rates_path = os.path.abspath(os.path.join(base_directory, "Germany_Annuities_DAV2004R_Select.csv"))
        self.trend_rates_path = os.path.abspath(os.path.join(base_directory, "Germany_Annuities_DAV2004R_Trends.csv"))

        self.base_year_trend = 1999
        # trend_t1 and trend_t2 are used for the trend flattening
        self.trend_t1 = trend_t1
        self.trend_t2 = trend_t2
        
        # load and transform base rates
        tab_DAV2004R_base = pd.read_csv(self.base_rates_path, header=[0, 2, 3], index_col=0)
        df_tmp = tab_DAV2004R_base.unstack()
        df_tmp.index.names=["TABLE_TYPE", "ESTIMATE_TYPE", "GENDER", "AGE"]
        df_tmp = df_tmp.reset_index().rename({0: "QX"}, axis=1)
        df_tmp.GENDER = df_tmp.GENDER.map({"Männer": risk_factors.Gender.M, "Frauen": risk_factors.Gender.F})
        df_tmp.ESTIMATE_TYPE = df_tmp.ESTIMATE_TYPE.map({'2. Ordnung': "BE", 'Bestand': "?", '1. Ordnung': "LOADED"})
        df_tmp.TABLE_TYPE = df_tmp.TABLE_TYPE.map({'Selektionstafel': "SELECT", 'Aggregattafel': "AGGREGATE"})
        self.df_base_rates = df_tmp   # .copy()
        
        # extract the ages
        self.ages = np.sort(tab_DAV2004R_base.index.values)
        
        # load and transform the trends
        tab_DAV2004R_trends = pd.read_csv(self.trend_rates_path, header=[0, 2, 3], index_col=0)
        df_tmp = tab_DAV2004R_trends.unstack()
        df_tmp.index.names=["LONG/SHORT", "ESTIMATE_TYPE", "GENDER", "AGE"]
        df_tmp = df_tmp.reset_index().rename({0: "F"}, axis=1)
        df_tmp.GENDER = df_tmp.GENDER.map({"Männer": risk_factors.Gender.M, "Frauen": risk_factors.Gender.F})
        df_tmp.ESTIMATE_TYPE = df_tmp.ESTIMATE_TYPE.str.strip().map({'2. Ordnung': "BE", 'Bestand': "?", '1. Ordnung': "LOADED"})
        df_tmp["LONG/SHORT"] = df_tmp["LONG/SHORT"].map({
            'F_1(x)': "F1",
            'F_1(y)': "F1",
            'F_2(x)': "F2",
            'F_2(y)': "F2",
            'F(x)': "F",
            'F(y)': "F"
        })
        self.df_trend_rates = df_tmp   # .copy()
        
        
    def rates_provider(self, table_type='AGGREGATE', estimate_type="BE", t_begin=1999, t_end=2150):
        
        table_type = table_type.upper()
        estimate_type = estimate_type.upper()
        
        df_base = self.df_base_rates[(self.df_base_rates.TABLE_TYPE == table_type) & 
                                     (self.df_base_rates.ESTIMATE_TYPE == estimate_type)]
        df_base = df_base.set_index(['GENDER', 'AGE'])[["QX"]].unstack("GENDER").droplevel(0, axis=1)

        df_trend = self.df_trend_rates[self.df_trend_rates.ESTIMATE_TYPE == estimate_type]\
                       .set_index(["LONG/SHORT", "ESTIMATE_TYPE", "GENDER", "AGE"])\
                       .unstack("GENDER")\
                       .droplevel(0, axis=1)\
                       .unstack("LONG/SHORT")\
                       .droplevel(0, axis=0)
        
        table = None
        
        if estimate_type == "BE":
            table = _calculate_be_tables_with_trend(t_begin, t_end, self.trend_t1, self.trend_t2, df_base, df_trend)
        elif estimate_type == "LOADED":
            table = _calculate_loaded_tables_with_trend(t_begin, t_end, self.trend_t1, self.trend_t2, df_base, df_trend)
        else:
            raise Exception("Unknow estimate type: {}".format(estimate_type))
        
        if table_type == 'AGGREGATE':
            # base rates and trend for 'AGGREGATE'
            provider = MortalityRatesProvider(table,
                                              (risk_factors.CalendarYear, risk_factors.Gender, risk_factors.Age),
                                              offsets=(t_begin, 0, 0))
        elif table_type == 'SELECT':
            raise Exception("Not yet implemented.")
        
        return provider


def _G(t, T1, T2):
    """ Trend interpolation formula, cf.
        2018-01-24_DAV-Richtlinie_Herleitung_DAV2004R.pdf (online), p. 43
    """
    if t < 1999:
        raise Exception("Table not available for years before 1999")
    elif t <= 1999 + T1:
        return 1
    elif t <= 1999 + T2:
        return 1.0 - ((t - 1999 - T1) * (t - 1999 - T1 - 1)) / (2 * (T2 - T1) * (t - 1999))
    else:
        return (T1 + T2 + 1) / (2 * (t - 1999))

    
def _calculate_be_tables_with_trend(t_begin, t_end, T1, T2, df_base, df_trend):
    """ Only applicable for BE (not LOADED). Return a three dimensional array containing the mortality
        rates indexed by:
        
          - age
          - sex (index 0=M, 1=F)
          - calendar year (index 0 corresponds with t_begin)    
    """
    
    # create container for the result
    res_table = np.zeros((1 + t_end - t_begin, 2, df_base.shape[0]), dtype=np.float64)
    
    # base data males
    qx_male = df_base.values[:, risk_factors.Gender.M]
    F1x_male = df_trend[(risk_factors.Gender.M, "F1")].values
    F2x_male = df_trend[(risk_factors.Gender.M, "F2")].values
    
    # base data females
    qx_female = df_base.values[:, risk_factors.Gender.F]
    F1x_female = df_trend[(risk_factors.Gender.F, "F1")].values
    F2x_female = df_trend[(risk_factors.Gender.F, "F2")].values
    
    # trend factors
    for t in range(t_begin, 1 + t_end):
        g = _G(t, T1, T2)
        exponential_arg_male = (F2x_male + g * (F1x_male - F2x_male)) * (t - 1999)
        exponential_arg_female = (F2x_female + g * (F1x_female - F2x_female)) * (t - 1999)
        res_table[t - t_begin, 0, :] = qx_male * np.exp(-exponential_arg_male)
        res_table[t - t_begin, 1, :] = qx_female * np.exp(-exponential_arg_female)
    
    return res_table


def _calculate_loaded_tables_with_trend(t_begin, t_end, T1, T2, df_base, df_trend):
    """ Only applicable for LOADED (not BE)). Return a three dimensional array containing the mortality
        rates indexed by:
        
          - age
          - sex (index 0=M, 1=F)
          - calendar year (index 0 corresponds with t_begin)    
    """
    
    # create container for the result
    res_table = np.zeros((1 + t_end - t_begin, 2, df_base.shape[0]), dtype=np.float64)
    
    # base data males
    qx_male = df_base.values[:, risk_factors.Gender.M]
    Fx_male = df_trend[(risk_factors.Gender.M, "F")].values

    # base data females
    qx_female = df_base.values[:, risk_factors.Gender.F]
    Fx_female = df_trend[(risk_factors.Gender.F, "F")].values
    
    # trend factors
    for t in range(t_begin, 1 + t_end):
        exponential_arg_male = Fx_male * (t - 1999)
        exponential_arg_female = Fx_female * (t - 1999)
        res_table[t - t_begin, 0, :] = qx_male * np.exp(-exponential_arg_male)
        res_table[t - t_begin, 1, :] = qx_female * np.exp(-exponential_arg_female)
    
    return res_table

### Use Lib

In [11]:
import numpy as np
from pyprotolinc.tables import DAV2004R
import pyprotolinc.risk_factors as risk_factors

dav2004R = DAV2004R()

In [12]:


# a 20 year old male and a 30 year old female
ages = np.array([20, 30], dtype=np.int32)
genders = np.array([0, 1], dtype=np.int32)
calendaryear = np.array([1999, 1999], dtype=np.int32)

# two providers
dav2004R_provider_agg_be = dav2004R.rates_provider()
dav2004R_provider_agg_loaded = dav2004R.rates_provider(estimate_type="LOADED")

In [13]:
# aggregate BE
dav2004R_provider_agg_be.get_rates(age=ages, gender=genders, calendaryear=calendaryear)

array([0.000743, 0.000348])

In [14]:
# loaded BE
dav2004R_provider_agg_loaded.get_rates(age=ages, gender=genders, calendaryear=calendaryear)

array([0.000627, 0.000291])

In [15]:
dav2004R_provider_agg_loaded.get_rates(age=ages, gender=genders, calendaryear=calendaryear + 1)

array([0.00060662, 0.00028197])

In [16]:
# check some values
dav2004R_provider_agg_be.get_rates(calendaryear=1999, gender=risk_factors.Gender.M, age=np.arange(122))

array([4.07600e-03, 3.75000e-04, 2.53000e-04, 1.87000e-04, 1.45000e-04,
       1.28000e-04, 1.21000e-04, 1.04000e-04, 1.17000e-04, 1.00000e-04,
       9.80000e-05, 1.17000e-04, 1.23000e-04, 1.35000e-04, 1.65000e-04,
       2.28000e-04, 3.28000e-04, 4.32000e-04, 7.07000e-04, 7.47000e-04,
       7.43000e-04, 7.54000e-04, 7.41000e-04, 7.61000e-04, 7.37000e-04,
       7.31000e-04, 7.30000e-04, 7.43000e-04, 7.26000e-04, 7.15000e-04,
       7.09000e-04, 7.17000e-04, 7.42000e-04, 7.86000e-04, 8.45000e-04,
       9.18000e-04, 1.00800e-03, 1.11900e-03, 1.24200e-03, 1.36700e-03,
       1.49500e-03, 1.62600e-03, 1.75800e-03, 1.90000e-03, 2.05300e-03,
       2.21700e-03, 2.40000e-03, 2.60100e-03, 2.81300e-03, 3.03800e-03,
       3.27400e-03, 3.53400e-03, 3.80700e-03, 4.08800e-03, 4.36700e-03,
       4.63600e-03, 4.90100e-03, 5.17900e-03, 5.48500e-03, 5.84600e-03,
       6.28100e-03, 6.84800e-03, 7.56600e-03, 8.43800e-03, 9.43900e-03,
       1.05330e-02, 1.17790e-02, 1.33390e-02, 1.50380e-02, 1.68690e-02,
       1.88320e-02, 2.09370e-02, 2.32300e-02, 2.57190e-02, 2.84360e-02,
       3.15420e-02, 3.50060e-02, 3.89650e-02, 4.34960e-02, 4.87240e-02,
       5.48080e-02, 6.17480e-02, 6.96280e-02, 7.84790e-02, 8.84050e-02,
       9.94470e-02, 1.11543e-01, 1.24661e-01, 1.38599e-01, 1.53150e-01,
       1.68138e-01, 1.83559e-01, 1.99321e-01, 2.15417e-01, 2.31810e-01,
       2.48460e-01, 2.65339e-01, 2.82439e-01, 2.99718e-01, 3.17104e-01,
       3.30487e-01, 3.48131e-01, 3.66086e-01, 3.84354e-01, 4.02934e-01,
       4.21824e-01, 4.41023e-01, 4.60525e-01, 4.80327e-01, 5.00419e-01,
       5.20793e-01, 5.41435e-01, 5.62330e-01, 5.83459e-01, 6.04801e-01,
       6.26326e-01, 6.48003e-01, 6.69795e-01, 6.91657e-01, 7.13536e-01,
       7.35375e-01, 1.00000e+00])

In [17]:
# select for future ages of one person
dav2004R_provider_agg_be.get_rates(calendaryear=2022 + np.arange(122), gender=risk_factors.Gender.M, age=np.arange(122))

array([2.10561130e-03, 1.89167296e-04, 1.24689267e-04, 9.00879952e-05,
       6.82826052e-05, 5.89208244e-05, 5.44453734e-05, 4.57431127e-05,
       5.03031291e-05, 4.20267595e-05, 4.02595341e-05, 4.69834924e-05,
       4.82815618e-05, 5.17996389e-05, 6.18861795e-05, 8.35913503e-05,
       1.17548503e-04, 1.51336529e-04, 2.42100787e-04, 2.50042685e-04,
       2.43107933e-04, 2.41156198e-04, 2.37242761e-04, 2.48279671e-04,
       2.51174298e-04, 2.57428811e-04, 2.62800454e-04, 2.70731524e-04,
       2.65261456e-04, 2.60020279e-04, 2.55367350e-04, 2.55201289e-04,
       2.60925943e-04, 2.73390395e-04, 2.91027341e-04, 3.12698182e-04,
       3.38631738e-04, 3.70034435e-04, 4.04230736e-04, 4.38389567e-04,
       4.72774313e-04, 5.06647659e-04, 5.39629001e-04, 5.74565536e-04,
       6.12554561e-04, 6.54137406e-04, 7.01807827e-04, 7.55485482e-04,
       8.12776406e-04, 8.73461806e-04, 9.35332703e-04, 1.00078900e-03,
       1.06810205e-03, 1.13597861e-03, 1.20195245e-03, 1.26481391e-03,
       1.32749095e-03, 1.39479809e-03, 1.46963327e-03, 1.55679364e-03,
       1.65668471e-03, 1.77914658e-03, 1.92209265e-03, 2.07989301e-03,
       2.24055412e-03, 2.39153549e-03, 2.54588420e-03, 2.73720426e-03,
       2.92752059e-03, 3.12308526e-03, 3.33472728e-03, 3.57752195e-03,
       3.87074230e-03, 4.23071335e-03, 4.67824677e-03, 5.25699826e-03,
       5.98118271e-03, 6.89946386e-03, 8.05631696e-03, 9.51598353e-03,
       1.13572950e-02, 1.36509545e-02, 1.64888716e-02, 1.99255150e-02,
       2.40246337e-02, 2.88780531e-02, 3.45516704e-02, 4.11748047e-02,
       4.88871623e-02, 5.78093573e-02, 6.55156549e-02, 7.18866966e-02,
       7.82988833e-02, 8.47129536e-02, 9.10768924e-02, 9.73371190e-02,
       1.03444993e-01, 1.09363034e-01, 1.15183223e-01, 1.20950769e-01,
       1.25109938e-01, 1.30800872e-01, 1.36515378e-01, 1.42252653e-01,
       1.48010797e-01, 1.53787587e-01, 1.59581209e-01, 1.65388092e-01,
       1.71205826e-01, 1.77029582e-01, 1.82855364e-01, 1.88677193e-01,
       1.94488912e-01, 2.00283168e-01, 2.06052137e-01, 2.11785185e-01,
       2.17471658e-01, 2.23099227e-01, 2.28653290e-01, 2.34117070e-01,
       2.39473007e-01, 1.00000000e+00])